@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;800&display=swap');
@import url("http://fonts.fontstorage.com/import/lato.css");

$font-primary: 'Lato';
$font-secondary: 'Raleway';

$fz-base: 16;

$cl-primary: #fff;
$cl-secondary: #000;
$cl-tertiary: #3D4050D9;
$cl-tertiary-light: #3D4050;